<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.BackendMapper">
	<!-- 登录验证 -->
	<select id="dologin" resultType="backenduser">
		SELECT b.*,d.valueName as userTypeName FROM backend_user b,data_dictionary d WHERE b.userType=d.id and b.userCode=#{userCode} AND b.userPassword=#{userPassword}
	</select>
	<!-- 分页查询 -->
	<select id="backlist" resultType="appinfo">
		select a.id,a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,a.status,
		(select valueName from data_dictionary d where a.status=d.valueId AND d.typeCode='APP_STATUS') as statusName,
		a.flatformId,(select valueName from data_dictionary d where a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') as flatformName,
		a.categoryLevel1,(select categoryName from app_category c where c.id=a.categoryLevel1) as categoryLevel1Name,
		a.categoryLevel2,(select categoryName from app_category c where c.id=a.categoryLevel2) as categoryLevel2Name,
		a.categoryLevel3,(select categoryName from app_category c where c.id=a.categoryLevel3) as categoryLevel3Name,
		a.downloads,a.onSaleDate,a.versionId,(select v.versionNo from app_version v where v.id=a.versionId ) as versionNo from app_info a  	
		<trim prefix="where" prefixOverrides="and | or">
			<if test=" softwareName !=null and softwareName !=''">
				a.softwareName=#{softwareName} 
			</if>
			
			<if test=" flatformId !=0 and flatformId !=''">
				AND flatformId=#{flatformId}
			</if>
			
			<if test="categoryLevel1 !=0 and  categoryLevel1 !=''">
				AND categoryLevel1=#{categoryLevel1}
			</if>
			
			<if test="categoryLevel2 !=0 and categoryLevel2 !=''">
				AND categoryLevel2=#{categoryLevel2}
			</if>
			
			<if test="categoryLevel3 !=0 and  categoryLevel3 !=''">
				AND categoryLevel3=#{categoryLevel3}
			</if>
		</trim>
		LIMIT #{pageindex},#{pagesize}
	</select>
	
	<!-- 总数量 -->
	<select id="Count" resultType="Integer">
		SELECT COUNT(1) FROM app_info
	</select>
	
	<!-- 平台 -->
	<select id="selectpt" resultType="datadictionary">
		SELECT * FROM data_dictionary WHERE typeCode='APP_FLATFORM'
	</select>
	
	<!-- 一级菜单 -->
	<select id="selectcd" resultType="appcategory">
		SELECT * FROM app_category where parentId IS NULL
	</select>
	
	<!-- 二级菜单 -->
	<select id="selectecd" resultType="appcategory">
		SELECT * FROM app_category where parentId =#{id}
	</select>
</mapper>
